body{
    background-color: #c62d29 !important;
}

.homer{
  min-height: 200px;
    max-width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.can{
    min-height: 100px;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.img-fluid {
  max-width: 100%;
}

.on{
    text-decoration:underline;
}

.beer{
    text-align: center;
    font-family: 'Chewy', cursive;
    color: white;
    margin-top: 30px;
        

}

.p{
    font-family: 'Montserrat', sans-serif;
}

.store{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin-top: 3px;
}
.fas :hover{
    margin-top: 10px;
    color: yellow;
    
}


.nav{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Chewy', cursive;  
}

.nav :hover{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.9rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Chewy', cursive;
    text-decoration-line: underline;
   
}


.quote{
    font-size: 1.5rem;
    font-family: 'Chewy', cursive;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contactcontent{
    
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;
    
    
    
}

.firstname{
    color: white;
    margin-top: 30px;
}

.surname{
    color: white;
    margin-top: 30px;
}
.email{
    color: white;
    margin-top: 30px;
}
.checkbox{
    color: white;
    margin-top: 30px;
}
.time{
    color: white;
    margin-top: 30px;
}

.control-label{
    color: white;
    margin-top: 30px;
      
}
.note{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}
.pitch{
    font-size: 1.3rem;
    font-family: 'Chewy', cursive;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}